/* --All container-fluids to have center align-- */
body{
    background-color: rgb(7, 7, 7);
}
.container-fluid {
    text-align: center;
}

/* --Review container-fluid to have left align-- */

.container-fluid_reviews {
    text-align: left;
}

.bg {
    background-image: url(../images/everest.jpg);
    background-size: cover;
    height: 100%;
    overflow: hidden;
    position: fixed;
    width: 100%;
    opacity: 0.5;
    z-index: -1;
}

.home-logo-text {
    font-family: 'Mansalva', cursive, sans-serif;
}

.navbar-brand {
    font-size: 18px;
}

.welcome-text {
    z-index: 1;
    position: relative;
    margin-top: 50px;
    font-family: 'Amatic SC', cursive, sans-serif;
}

.welcome-text p {
    font-size: 25px;
}

.button-text {
    font-family: Arial, Helvetica, sans-serif;
}

.row-form {
    margin-top: 25px;
}

.delete-record-advice {
    margin-top: 25px;
}

.form_font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.jumbotron {
    background-color: rgba(236, 240, 241, 0.1);
}

@media only screen and (max-width: 550px) {
    .table {
        font-size: 9px;
        font-weight: bold;
    }
    .btn-sm {
        font-size: 9px;
    }
    .table-data {
        padding-right: 1px;
        padding-left: 1px;
    }
}

/* --Easier read-ability, rows given white background-- */

.row-review {
    margin-top: 25px;
    background-color: rgba(245, 246, 250, 1.0);
}

.row-welcome {
    margin-top: 20px;
    background-color: rgba(245, 246, 250, 1.0);
}

.table {
    background-color: rgba(245, 246, 250, 1.0);
}

.template-col {
    padding-right: 2px;
    padding-left: 2px;
}