{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <!-- Welcome Landing text -->
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="jumbotron">
                <h1 class="display-4">Who We Are</h1>
                <p class="lead">Hike routes page has been created to ensure that those wanting to venture off into nature and soak up the joys and wonders that the outdoors have to offer are fully aware of what particular trails have to offer and what essentials are needed to enjoy it to its max.</p>
                <hr class="my-4">
                <p>Please make sure to take part in our interactive submission forms to help other outdoor enthusiasts understand the area that they are about to embark on.</p>
                <a class="btn btn-warning btn-lg" href="{{url_for('get_hike_names')}}" role="button">Get
                    Started</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}