{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <!-- Welcome Landing text -->
    <div class="row-welcome">
        <div class="col-12 text-dark">
            
                <h1 class="display-4">Hello There</h1>
                <p class="lead">Welcome to Hike Routes Website. Here you are able to find, review and post great hiking spots for those who are experienced mountaineers and for those of you who are still new to experiencing the great outdoors</p>
                <hr class="my-4">Join us and feel free to recommend trails to help others!
                
            
        </div>
    </div>
    <!-- Table of River Data -->
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 table-responsive table-data">
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Hike Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Mountain Gear required</th>
                        <th scope="col">For beginners / experienced hikers</th>
                        <th scope="col">Bird Species</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hike in hikes %}
                    <tr>
                        <td><a class="btn btn-warning btn-sm " href=""
                                role="button">{{hike.hike_name}}</a></td>
                        <td>{{hike.status}}</td>
                        <td>{{hike.mountain_gear_required}}</td>
                        <td>{{hike.easy_or_hard}}</td>
                        <td>{{hike.birds}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% endblock %}