{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <!-- Welcome Landing text -->
    <div class="row justify-content-center">
        <div class="col-10 text-dark welcome-text">
            <p><strong>Want to provide feedback <br> on a river?<br>Leave your review here.</strong></p>
        </div>
    </div>
    <div class="row row-form justify-content-center">
        <!-- Review Form -->
        <div class="col-12 col-md-5">
            <form action="{{url_for('insert_review')}}" method="POST" class="form_font">
                <div class="form-group font-weight-bolder">
                    <label for="hike_name">Hike Name: (Must be in database)</label>
                    <select class="form-control" id="hike_name" name="hike_name">
                        <option value="" disabled selected>Select Hikes</option>
                        {% for hike in hikes %}
                        <option required>{{hike.hike_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group font-weight-bolder">
                    <label for="date_of_review">Date of Review: </label>
                    <input type="date" class="form-control" id="date_of_review" name="date_of_review" rows="1" required>
                </div>
                <div class="form-group font-weight-bolder">
                    <label for="review_by">Name of Reviewer: </label>
                    <textarea class="form-control" id="review_by" name="review_by" rows="1" required></textarea>
                </div>
                <div class="form-group font-weight-bolder">
                    <label for="review">User Review: </label>
                    <textarea class="form-control" id="review" name="review" rows="5" required></textarea>
                </div>
                <!-- Send button -->
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}