{% extends 'base.html' %}
{% block content %}

<div class="container-fluid_reviews">
    <!–– Welcome Landing text -->
        <div class="row">
            <div class="col-10 text-dark welcome-text">
                <p><strong>Here is a list of reviews left behind for your benefit:</strong></p>
            </div>
        </div>
        <!–– Hike Reviews -->
            {% for review in reviews %}
            <div class="row-review justify-content-center">
                <div class="col-8 text-light">
                    <ul class="list-unstyled">
                        <li class="media">
                            <img src="{{ url_for('static', filename='images/user.png') }}" class="mr-3" alt="User">
                            <div class="media-body">
                                <h6 class="mt-0 mb-1">Hike Name: {{review.hike_name}}</h5>
                                    <span>Date of Review: {{review.date_of_review}} </span>
                                    <p>Reviewed By: {{review.review_by}} </p>
                                    <p>{{review.review}}</p>
                            </div>
                        </li>
                </div>
            </div>
            {% endfor %}
</div>

{% endblock %}